<div class="container">
  <h1>Edit Buddy</h1>
  <%= form_with model: @buddy, url: buddy_path(@buddy), method: :patch do |form| %>
     <div>
      <%= form.label :photo %>
      <%= form.file_field :photo %>
    </div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.label :price_per_day %>
      <%= form.number_field :price_per_day %>
    </div>
    <div>
      <%= form.label :options %>
      <%= form.select :options, ["Alcoolique", "Marroneur", "Sexy", "Humour de merde", "Parfait comme Gaulthier"] %>
    </div>
    <div>
      <%= form.submit 'Update Buddy' %>
    </div>
  <% end %>
</div>
