<div class="container">
  <h1>Edit Buddy</h1>
  <%= form_with model: @buddy, url: buddy_path(@buddy), method: :patch do |form| %>
     <div>
      <%= form.label :photo %>
      <%= form.file_field :photo %>
    </div>
    <div>
      <%= form.label :category %>
      <%= form.select :category, ["Tarpin", "Estrasse", "Minot", "Brèle"] %>
    </div>
      <div>
      <%= form.label :"Ce que je propose" %>
      <%= form.text_field :proposal%>
    </div>
    <div>
      <%= form.label :"Buddy depuis" %>
      <%= form.select :joined_year, options_for_select((2000..Date.current.year).to_a.reverse), { prompt: "Select Year" }, { class: "form-control" } %>
    </div>
    <div>
      <%= form.label :price_per_day %>
      <%= form.number_field :price_per_day %>
    </div>
    <div>
      <%= form.label :options %>
      <%= form.select :options, ["Alcoolique", "Marroneur", "Sexy", "Humour de merde", "Parfait comme Gaulthier"] %>
    </div>
    <div>
      <%= form.submit 'Update Buddy' %>
    </div>
  <% end %>
</div>
