<h1>Buddies</h1>
<ul>
  <% @buddies.each do |buddy| %>
    <li>
      <%= link_to buddy.name, buddy_path(buddy) %>
      <p><%= buddy.description %></p>
      <p><%= buddy.options %><p>
      <p><%= price_per_day(buddy.price) %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Buddy", new_buddy_path%>
