<div class="page-container">

<div class="second-container">

 <div class="banner-container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "Cover.jpg" %>);">
      <div class="container">
        <h1><strong>Boost ton projet web avec l'elite des buddies !</strong></h1>
      </div>
  </div>

  <!-- Barre de filtrage -->
<div class="filter-bar">
  <!-- Champ de filtrage pour le prix -->
  <%# <label for="price-filter">Price:</label>
  <input type="text" id="price-filter" name="price-filter" placeholder="Enter price"> %>

  <!-- Champ de filtrage pour la date de début -->
  <label for="start-date-filter">Start Date:</label>
  <input type="date" id="start-date-filter" name="start-date-filter">

  <!-- Champ de filtrage pour la date de fin -->
  <label for="end-date-filter">End Date:</label>
  <input type="date" id="end-date-filter" name="end-date-filter">

  <!-- Bouton de soumission du formulaire de filtrage -->
  <button type="button" onclick="filterBuddies()">Filter</button>
</div>


<div class="grid-container" id="buddies-container">
  <% @buddies.each do |buddy| %>
    <a href="<%= buddy_path(buddy) %>" class="my-div" data-name="<%= buddy.name %>" data-options="<%= buddy.options %>" data-price-per-day="<%= buddy.price_per_day %>">
      <div class="name-description-container">
        <% if buddy.photo.attached? %>
          <%= cl_image_tag buddy.photo.key, class: "rounded-circle img-thumbnail", width: "100px"%>
        <% else %>
            <img src="images/deliveroo.png" alt="" width="100px">
        <% end %>
      </div>
      <div>
        <p class="name"><%= buddy.name %>,</p>
        <p class="category"><%= buddy.category %>,</p>
        <p class="description"><%= buddy.description %></p>
      </div>
      <p class="options"><%= buddy.options %></p>
      <p class="price"><%= buddy.price_per_day %> Bitcoin par jour</p>
       <button class="view-buddy-button">Voir le buddy</button>
    </a>
  <% end %>
  </div>
</div>

<%# <script>
  function filterBuddies() {
    // Récupérer les valeurs des champs de filtrage
    var priceFilter = document.getElementById('price-filter').value;
    var startDateFilter = document.getElementById('start-date-filter').value;
    var endDateFilter = document.getElementById('end-date-filter').value;

    // Effectuer le filtrage des buddies selon les critères choisis
    // Vous pouvez utiliser ces valeurs pour effectuer des requêtes AJAX ou filtrer les buddies côté client
    // Par exemple, vous pouvez utiliser les valeurs pour afficher uniquement les buddies qui correspondent aux critères sélectionnés
  }
</script> %>
</div>
</div>
