<div class="container">
<h1>New Buddy</h1>
<%= form_with model: @buddy, local: true do |form| %>
  <div>
    <%= form.input :photo, as: :file %>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price_per_day %>
    <%= form.number_field :price_per_day %>
  </div>
    <div>
    <%= form.label :options %>
    <%= form.select :options, ["Alcoolique", "Marroneur", "Sexy", "Humour de merde", "Parfait comme Gaulthier"] %>
  </div>
  <%= form.submit 'Create Buddy' %>
<% end %>
