<div class=" box container p-3" id="box1">
  <div class="row">
    <div class="col-md-8">
      <div class="carda p-3 mb-3 bg-black text-white">
        <div class="container d-flex">
          <div class="">
        <% if @buddy.photo.attached? %>
          <%= cl_image_tag @buddy.photo.key, class: "rounded-circle img-thumbnail", width: "280px" %>
        <% else %>
          <img src="images/deliveroo.png" alt="" width="140px">
        <% end %>
        </div>
        <div class="w-30 p-5">
          <div>
            <h2><%= @buddy.name %></h2>
            <span><%= @buddy.category %></span>
            <span><%= @buddy.price_per_day %> <img src='https://logo-marque.com/wp-content/uploads/2020/08/Bitcoin-Logo.png' alt='Bitcoin Logo' style='width: 50px; height: 30px;'> la journée</span>
            </div>
        </div>
        </div>
      </div>
      <div class="bg-black carda p-3 mb-3 text-white">
        <p><strong>DESCRIPTION :</strong></p>
        <p><%= @buddy.description %></p>
        <p><%= @buddy.options %></p>
      </div>
      <div class="bg-black carda p-3 mb-3 text-white">
        <p><strong>Ce que propose ce buddy :</strong></p>
        <p><small><%= @buddy.proposal %></small></p>
      </div>
      <div class="bg-black carda p-3 mb-3 text-white">
        <p><strong>Buddy depuis </strong></p>
        <span><%= @buddy.joined_year %></span>
      </div>
    </div>
        <div class=" carda col-md-4 text-white"  >
          <div class=" bg-black p-3 sticky-top">
          <h2>Reservation :</h2>
          <div data-controller="price" data-price-price-value="<%= @buddy.price_per_day %>">
            <%= simple_form_for([@buddy, @booking]) do |f| %>
              <div class="d-flex justify-content-between mt-3">
                <p><strong>Prix Jour</strong></p>
                <p><%= @buddy.price_per_day %> €</p>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <p><strong>Frais déplacement</strong></p>
                <p>À définir</p>
              </div>
                <div class="d-flex justify-content-between mt-3 border-bottom">
                <p style="width: 90px;"><strong>Dates :</strong></p>
                  <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker", action: "change->price#calculatePrice", price_target: "startTime" } , style: "width: 110px;" } %>
                  <%= f.input :end_time, as: :string, input_html: { data: { controller: "datepicker", action: "change->price#calculatePrice", price_target: "endTime" } , style: "width: 110px;" } %>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <p><strong>Total Prix</strong></p>
                <p><%= f.input :total_price, readonly: true, input_html: { id: 'booking_total_price', data: { price_target: "priceInput" } } %></p>
              </div>
            <div class="d-flex justify-content-between mt-3">
              <%= f.submit 'Book this Buddy', class: 'btn btn-primary' %>
              <%= link_to "Edit Buddy", edit_buddy_path(@buddy), class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
</div>
