<h1>Book ton buddy</h1>

<p><%= @buddy.name %></p>
<div data-controller="price" data-price-price-value=<%= @buddy.price_per_day %>>
  <%= simple_form_for([@buddy, @booking]) do |f| %>
    <%= f.input :start_time,
            as: :string,
            input_html: { data: { controller: "datepicker", action: "change->price#calculatePrice", price_target: "startTime" } } %>
    <%= f.input :end_time,
            as: :string,
            input_html: { data: { controller: "datepicker", action: "change->price#calculatePrice", price_target: "endTime" } } %>
    <%= f.input :total_price, readonly: true, input_html: { id: 'booking_total_price', data: { price_target: "priceInput" } } %>
    <%= f.submit %>
  </div>
<% end %>
