<div class="container mt-5">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body text-center">
      <h1 class="card-title">Confirmation de la Réservation</h1>
      <div class="booking-details my-4">
        <h2 class="h4">Merci</h2>
        <p class="card-text">Vous avez réservé <strong><%= @buddy.name %></strong>.</p>
        <p class="card-text">Dates: <%= @booking.start_time.strftime("%d %B %Y") %> - <%= @booking.end_time.strftime("%d %B %Y") %></p>
        <p class="card-text">Prix total: <%= number_to_currency(@booking.total_price, unit: "€") %></p>
      </div>
      <a class="btn btn-primary btn-lg mt-3" href="<%= root_path %>">Retour à l'accueil</a>
    </div>
  </div>
</div>
